<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form action="/home" method="post">
        <label for="">Product Name</label>
        <input type="text" name="name" id="">

        <label for="">Description</label>
        <input type="text" name="description">

        <label for="">Price</label>
        <input type="text" name="price">
        
        <button style="margin: 0 auto;" type="submit">Submit</button>

    </form>
</body>
</html>